<main>

    <h1>Editar Ponto de Saída</h1>
    <form action="/ponto-sai/{{pontoSai.id}}?_method=PUT" method="POST">
        <label for="nomeCompleto">Nome Completo:</label>
        <input type="text" id="nomeCompleto" name="nomeCompleto" value="{{pontoSai.nomeCompleto}}" required>
        <label for="horaSai">Hora de Saída:</label>
        <input type="text" id="horaSai" name="horaSai" value="{{pontoSai.horaSai}}" required>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" value="{{pontoSai.data}}" required>
        <button type="submit">Atualizar</button>
    </form>
    <a href="/" class="btn-voltar"> <i class="fa-solid fa-arrow-left"></i>Voltar</a>
</main>