<main>
    <form action="/ponto-ent" method="POST"  class="form-registro">
        <h3>Registrar Ponto de Entrada</h3>
        <label for="nomeCompleto">Nome Completo:</label>
        <input type="text" id="nomeCompleto" name="nomeCompleto" required>
        <button type="submit">Registrar</button>
    </form>
    <a href="/" class="btn-voltar"> <i class="fa-solid fa-arrow-left"></i>Voltar</a>
</main>