<main>
    <div class="content">
        <a href="/ponto-ent">Registrar Ponto de Entrada</a>
        <a href="/ponto-sai">Registrar Ponto de Saída</a>
        <a href="/pontos-ent">Listar Entradas</a>
        <a href="/pontos-sai">Listar Saídas</a>
    </div>
</main>